.input{
  width:100%;
  padding:10px;
  margin-bottom:12px;
  border:1px solid #ccc;
  border-radius:8px;
}

.input:focus{
  outline:none;
  border-color:#6366f1;
}

.btn{
  width:100%;
  padding:10px;
  border-radius:8px;
  background:#4f46e5;
  color:white;
}

.btn:hover{
  background:#4338ca;
}

.card{
  background:white;
  padding:24px;
  border-radius:16px;
  width:420px;
}

.creator{
  position:fixed;
  bottom:10px;
  right:16px;
  font-size:12px;
  color:#ddd;
}

.option{
  padding:10px;
  border:1px solid #ddd;
  border-radius:8px;
}

.option:hover{
  background:#eef2ff;
}
